# Last update: Added S3 dependencies

# AWS Software Development Kit for python
boto3==1.17.39

# For autoconfig database using DATABASE_URL env variable
dj-database-url

# Python WEB framework
django==3.2

# A configurable set of panels that display various debug information about the current request/response
django-debug-toolbar==3.2.1

# Collection of custom storage backends for Django
django-storages==1.11.1

# Python WSGI HTTP Server
gunicorn==20.0.4

# Provides a RichTextField, RichTextUploadingField, CKEditorWidget and CKEditorUploadingWidget
django-ckeditor==5.9.0

# Python Imaging Library
Pillow==7.1.2

# PostgreSQL python client
psycopg2-binary==2.8.5
